server:
  port: ${SERVER_PORT}
  servlet:
    context-path: ${SERVER_SERVLET_CONTEXT_PATH}
    encoding:
      enabled: true
      charset: UTF-8
  forward-headers-strategy: framework
  address: ${SERVER_ADDRESS}

app:
  secret: ${APP_SECRET}
  jwt:
    token:
      expires-in: ${APP_JWT_TOKEN_EXPIRES_IN}
    refresh-token:
      expires-in: ${APP_JWT_REFRESH_TOKEN_EXPIRES_IN}
  default-locale: ${APP_DEFAULT_LOCALE}
  default-timezone: ${APP_DEFAULT_TIMEZONE}
  url: ${APP_URL}

spring:
  application:
    name: ${APP_NAME}
    description: ${APP_DESCRIPTION}
  jpa:
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
#        globally_quoted_identifiers: true
    open-in-view: false
  datasource:
    url: jdbc:postgresql://${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_DB}
    username: ${POSTGRESQL_USER}
    password: ${POSTGRESQL_PASSWORD}
  data:
    mongodb:
      authentication-database: ${MONGODB_AUTH_DB}
      host: ${MONGODB_HOST}
      database: ${MONGODB_DB}
      port: ${MONGODB_PORT}
      username: ${MONGODB_USER}
      password: ${MONGODB_PASSWORD}
    web:
      pageable:
        default-page-size: ${PAGEABLE_DEFAULT_PAGE_SIZE}
  messages:
    basename: locales.messages
    encoding:
      charset: UTF-8
      enabled: true
      force-encoding: true
  http:
    encoding:
      force-encoding: true
  jackson:
    mapper:
      accept-case-insensitive-enums: true
  servlet:
    multipart:
      enabled: true
      max-file-size: ${MULTIPART_MAX_FILE_SIZE}
      max-request-size: ${MULTIPART_MAX_REQUEST_SIZE}


springdoc:
  api-docs:
    enabled: ${API_DOCS_ENABLED}
    path: /api-docs
  swagger-ui:
    enabled: ${SWAGGER_ENABLED}
    operationsSorter: alpha
    tagsSorter: alpha
    path: ${SWAGGER_PATH}
  show-actuator: true

logging:
  level:
    root: ${LOGGING_LEVEL_ROOT}
    org:
      hibernate:
        type: ${LOGGING_LEVEL_HIBERNATE}
      springframework:
        web: ${LOGGING_LEVEL_SPRING}

cloudinary:
  cloud-name: ${CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

paypal:
  client-id: ${CLIENT_ID}
  client-secret: ${SECRET_KEY}
  mode: ${PAYPAL_MODE}

payway:
  service-url: ${PAYWAY_SERVICE_URL}
  api-key: ${PAYWAY_CLIENT_ID}
  verify-key: ${PAYWAY_CHECKSUM_KEY}
  webhook-base-url: ${PAYWAY_WEBHOOK_BASE_URL}
  return-url: ${PAYWAY_RETURN_URL}


firebase:
  app: ${FIREBASE_APP_NAME}
  credentials:
    file: ${FIREBASE_CREDENTIALS_FILE}
  project-id: ${FIREBASE_PROJECT_ID}
